.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar{
  height: 60px;
  background-color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  display:flex;
  align-items:center;
  justify-content: space-around;
}

.nav-link{
  color: #FFD700;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  padding: 0 20px;
}